body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #13293D;
  color: white;
}
.header h1{
  margin-left: 1em
}
.search-container{
  vertical-align: middle;
}
.search-container input[type=text]{
  width:30vw;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 2.5em;
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif;
}
.search-icon{
  border:none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: orange;
  height: 5vh;
  width: 3vw;
  margin-right: 2em;
}
.search-icon:hover{
  background-color: rgb(255, 211, 128);
}
#login {
  text-decoration: none;
  color: white;
  margin-top: 30px;
  margin-left: 5em;

}
#login:hover{
  text-decoration: underline;
}
.cart-icon{
  border: none;
  background-color: #13293D;
  color: white;
  width: 5em;
  margin-left: 2em;
}
.cart-icon:hover{
  border: 2px solid white;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  background-color: #dadada;
  text-align: left;
  height: 2em;
  margin-bottom: 1em;
  padding: 5px;
}
.nav a{
  text-decoration: none;
  color: black;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.2rem;
}
.nav a:hover{
  border: 1px solid white;
}
.add-wares{
  width: 35%;
  margin: auto;
  padding: 5px;
  border: 2px solid rgb(151, 215, 255);
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-wares form{
  padding:10px
}
.input-field{
  width:60%;
}
#description{
  width:60%;
}
#submit-btn{
  margin:1em;
  border: 1px solid rgb(57, 199, 255);
  border-radius: 2px;
  background-color: rgb(57, 199, 255);
  color: white;
  width: 20%;
  padding: 5px;
}
#submit-btn:hover{
  background-color: white;
  color: rgb(57, 199, 255);
}
#reset-btn{
  margin: 1em;
  border: 1px solid #13293D;
  border-radius: 2px;
  background-color: #13293D;
  color: white;
  width: 20%;
  padding: 5px;
}
#reset-btn:hover{
  background-color: white;
  color: #13293D;
}
#category{
  font-family: 'Quicksand', sans-serif;
  width:60%;
}
#add{
  text-align: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.display-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 300px;
  height: 30vw;
  max-width: 300px;
  width: 30%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.display-card img{
  height: 80%;
  max-width: 100%;
}
.display-card a {
  text-decoration: none;
  color: black;
}
.display-card a:hover{
  text-decoration: underline;
}
.show-display-card img{
  width:30vw;
}
.show-display-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  height: 50vh;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}
#show-img{
  place-items: center;
  vertical-align: middle;
}
#show-img img{
  max-height: 48vh;
  max-width:100%;
  padding: 5px;
}
#item-details{
  text-align:left;
  padding: 1em;
}
.update-cont{
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:70vw;
  margin: auto;
}
#update-form input[type=text]{
  width: 60%;
  font-family: 'Quicksand', 'sans-serif';
}
#update-description{
  width: 60%;
  font-family: 'Quicksand', 'sans-serif';
}
#update-header{
  margin: 1em;
  padding: 1em;
}
#update-btn, #delete-btn{
  width: 20%;
  height: 2em;
  margin: .5em;
}
#update-btn{
  border: 2px solid rgb(57, 199, 255);
  border-radius: 2px;
  background-color: rgb(57, 199, 255);
  color:white;
}
#update-btn:hover{
  background-color: white;
  color:rgb(57, 199, 255)
}
#delete-btn{
  border: 2px solid rgb(191, 0, 0);
  border-radius: 2px;
  background-color: rgb(191, 0, 0);
  color: white
}
#delete-btn:hover{
  background-color: white;
  color: rgb(191, 0, 0)
}
#add-btn, #save-btn{
  margin-left: 3em;
}
#add-btn{
  border: 2px solid orange;
  border-radius: 2px;
  background-color: orange;
  color: white;
  width: 70%;
}
#add-btn:hover{
  background-color: white;
  color:orange;
}
#save-btn{
  border: 2px solid #13293D;
  border-radius: 2px;
  color: white;
  background-color: #13293D;
  width: 70%;
}
#save-btn:hover{
  background-color: white;
  color: #13293D;
}