body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  background-color: #13293D;
  color: white;
}
.nav{
  background-color: #dadada;
  text-align: left;
  height: 2em;
  padding: 1px;
}
.nav a{
  text-decoration: none;
  color: black;
  padding-left: 2em;
  padding-right: 2em;
}
.nav a:hover{
  border: 1px solid white;
}
.add-wares{
  width: 35%;
  text-align: left;
  margin: 2em;
  padding: 5px;
  border: 2px solid rgb(151, 215, 255);
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-wares button{
  margin-left: 10px;
}
#add{
  text-align: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.display-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 300px;
  height: 30vw;
  max-width: 300px;
  width: 30%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.display-card img{
  height: 80%;
  max-width: 100%;
}
.display-card a {
  text-decoration: none;
  color: black;
}
.display-card a:hover{
  text-decoration: underline;
}
/* The sidepanel menu */
.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(37, 146, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #5c9ee0;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #1B98E0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
}

.openbtn:hover {
  background-color: rgb(110, 221, 255);
}